footer {
    background:white;
    border-top: 1px solid  #CCCCCC;
    width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    position: absolute;
    color: black;
    font-weight: bold;
}
