header{
    width: 100%;
    min-height: 70px;
    background: white;
    border-bottom: 1px solid  #CCCCCC;
    margin:  -10px 0 0 -10px;
    padding: 10px;
  }
  .logo{

    background-image: url("../images/logo.png");
    width: 135px;
    height: 55px;
  }