body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1000px;
    background-color: white;
    display: flex; 
    align-items: center;
    justify-content: right;

    
}
